.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 15px;
    width: 132px;
    height: 44px;
    background: var(--c-treePoppy);
    color: var(--c-white);
    border: 2px solid var(--c-treePoppy);
    cursor: pointer;
    font-family: 'IntReg';
}

.header__button {
    display: flex;
    justify-content: center;
    margin-left: 34px;
}

.header__buttonLog {
    margin-right: 18px;
    padding: 8px 46px;
    color: var(--c-treePoppy);
    background-color: var(--c-white);
}

.leftInput__button {
    width: 180px;
    height: 52px;
    font-family: 'MBold';
    line-height: 60px;
    font-size: 17px;
}

.button__block {
    width: 164px;
    height: 48px;
    font-size: 16px;
    line-height: 60px;
}

.title {
    display: flex;
    max-width: 481px;
    height: 100px;
    font-size: 36px;
    font-family: 'PFDBold';
    color: var(--c-black);
    line-height: 50px;
}

.right__title {
    margin: 0 0 20px;
}

.first__title {
   margin: 0 0 20px;
}

.left__title {
    height: 50px;
    margin: 0 0 145px 50px;
}

.title__text {
    height: 50px;
    margin: 0;
}

.header__view{
    display: flex;
    align-items: center;
    width: 79px;
    height: 60px;
}

.view__text {
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 60px;
    color: var(--c-treePoppy);
    font-family: 'IntReg';
    margin-right: 10px;
}

.view__img {
    width: 6px;
    height: 11px;
}

.text {
    display: flex;
    max-width: 450px;
    font-family: 'MMed';
    font-size: 17px;
    line-height: 30px;
    color: var(--c-topaz);
    margin: 0 0 33px;
}

.first__text {
    height: 90px; 
}

.right__text {
   height: 120px;
}