.destinations {
    grid-area: destinations;
    max-width: 1120px;
    height: 532px;
    margin: 0 135px 173px 0;
}

.destinations__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1120px;
    height: 337px;
    margin-left: 50px;
}   

.containerItems__text {
    display: flex;
    flex-direction: column;
    max-width: 116px;
    height: 50px;
    background: var(--c-white);
    border-top-right-radius: 8px;
    border: 2px solid var(--c-white);
    font-size: 17px;
    line-height: 25px;
    color: var(--c-tiber);
}

.containerItems__country {
    color: var(--c-gunsmoke);
}

.container {
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    flex-direction: column;
    height: 332px;
    width: 261px;
    margin-right: 25px;
    box-sizing: border-box;
    border-radius: 8px;
    background-repeat: no-repeat;
}

.container:last-child {
    margin-right: 0;
}

.destinations__containerItemOne {
    background-image: url(/image/raja.jpg)
}

.destinations__containerItemTwo{
    background-image: url(/image/fajin.jpg)
}

.destinations__containerItemThree{
    background-image: url(/image/vevey.jpg)
}

.destinations__containerItemFour{
    background-image: url(/image/skadar.jpg)
}

