.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    margin-top: 35px;
    margin-bottom: 72px;   
}

.header_mainLogo {
    display: flex;
    width: 41px;
    height: 41px;
}

.header_navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 663px;
    line-height: 60px;
    margin-right: 85px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    margin-right: 34px;
    font-family: 'IntMed';
}

.nav__linkHome {
    color: var(--c-ebonyClay);
}

.nav__link {
    color: var(--c-heather);
}

.nav__link:last-child {
    margin-right: 0;
}