@import './normalize.css';
@import './font.css';
@import './variables.css';
@import './common.css';
@import './header.css';
@import './travelerMain.css';
@import './travelerSecond.css';
@import './destinations.css';
@import './travelerGuides.css';
@import './testimonials.css';
@import './stories.css';
@import './footer.css';


.mainWrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    '. header .'
    '. travelerMain .'
    '. travelerSecond .'
    '. destinations .'
    '. travelerGuides .'
    '. testimonials .'
    '. stories .'
    'footer footer footer';
    grid-template-columns: 190px 1fr 105px;
    font-family: 'MBold';
    color: var(--c-abbey);
}