@import './normalize.css';
@import './font.css';
@import './variables.css';
@import './common.css';
@import './header.css';
@import './travelerMain.css';
@import './travelerSecond.css';


.mainWrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    '. header .'
    '. travelerMain .'
    '. travelerSecond .';
    grid-template-columns: 190px 1fr 105px;
    font-family: 'MBold';
    color: var(--c-abbey);
}