.travelerSecond {
    grid-area: travelerSecond;
    display: flex;
    justify-content: space-between;
    max-width: 1242px;
    height: 550px;
    margin-bottom: 262px;
    margin-left: -49px;
}

.travelerSecond__left {
    display: flex;
    height: 534px;
    width: 659px;
    background: url(./image/travelerSecond.jpg) no-repeat;
}

.travelerSecond__right {
    display: flex;
    flex-direction: column;
    max-width: 481px;
    height: 333px;
    margin-top: 96px;
}