.travelerMain {
    grid-area: travelerMain;
    display: flex;
    justify-content: space-between;
    max-width: 1415px;
    margin-bottom: 286px;
}

.travelerMain__left {
    display: flex;
    flex-direction: column;
}

.leftTitle__text {
    max-width: 356px;
    height: 160px;
    font-size: 64px;
    color: var(--c-ebonyClay);
    font-family: 'PFDBold';
}

.travelerMain__leftInput {
   display: flex;
   flex-direction: column;
   max-width: 471px;
   height: 344px;
}

.leftInput__leftText {
    max-width: 149px;
    line-height: 27px;
    font-size: 22px;
    margin: 0 0 21px 0;
    font-family: 'IntReg';
    color: var(--c-ebonyClay);
}

.leftInput__leftLine {
    width: 32px;
    margin: 5px 0 48px 0;
    border-radius: 4px;
    border-width: 0px;
    border-top: 2px solid var(--c-ebonyClay);
}

.input{
    display: flex;
    flex-direction: row;
    width: 471px;
}

.leftInput__leftSelectOne {
    margin-bottom: 35px;
}

.leftInput__leftSelectTwo {
    margin-bottom: 47px;
}

.travelerMain__right {
    display: flex;
    min-height: 654px;
    width: 687px;
    margin: 0;
    background: url(/image/travelerMain_RightPic.jpg) no-repeat;
}

.select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 30px 0 0px;
    box-sizing: border-box;
    min-width: 220px;
    height: 52px;
    font-family: 'IntReg';
    font-size: 15px;
    line-height: 32px;
    border-radius: 6px;
    border: 0.8px solid var(--c-bombay);
    cursor: pointer;
    padding: 21px 20px 21px 31px;
}

.selectInput {
    width: 220px;
    margin: 0 30px 0 0;
}

.select__text {
    display: flex;
    justify-content: center;
    margin-right: 81px;
}

.select__icon {
    width: 9.5px;
    height: 6px;
}