:root {
    --c-abbey: #4A4C53;
    --c-ebonyClay: #202336;
    --c-heather: #B8BECD;
    --c-treePoppy: #FB8F1D;
    --c-white: #FFFFFF;
    --c-bombay: #AFB0B9;
    --c-black: #000000;
    --c-topaz: #7D7987;
}